{% extends "layout.html" %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
You cannot view this page – Apply for legal aid – GOV.UK
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for legal aid",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You cannot view this page</h1>

<p>You must have created this application if you want to view or edit it.</p>

        <!-- <p>This application was created by . Contact them if you want to view or edit it.</p>

         <p class="govuk-body">
          To view it you must be:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>signed in</li>
          <li>the person who started the application</li>
        </ul>

       <p class="govuk-body">
          You can only view it if you:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>are signed in</li>
          <li>started the application</li>
        </ul>

        <p class="govuk-body">
          This is because you're not:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>signed in</li>
          <li>the person who started the application</li>
        </ul>

       <p class="govuk-body">
                  You must be signed in as the person who started the application.</p>

    <p class="govuk-body">
          To view this application you must:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>be signed in</li>
          <li>have started the application</li>
        </ul>

        <p class="govuk-body">
          <a href="/sign_in">Sign in</a>
        </p> -->
      </div>
    </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
