{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-column-minimum">

      <h1 class="govuk-heading-l">
        John Doe
          <span class="govuk-heading-m">2018/LAA/4ewrgfdd </span>
      </h1>
      <button class="govuk-button" href=>Continue</button>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Client details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="client_details" aria-describedby="eligibility-completed">
                Full name, date of birth and national insurance number
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                Completed
              </strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="postcode_finder" aria-describedby="read-declaration-completed">
                Correspondance address
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">
                Completed
              </strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Capital assessment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Company information
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">
                Completed
              </strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Your contact details
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">
                Completed
              </strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="medical-information-completed">
                Give medical information
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">
                Completed
              </strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Merits assessment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Submit and pay
              </a>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
