
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for legal aid prototypes
        <span class="govuk-caption-xl"></span>
      </h1>
      <p class="govuk-body-l">
        Versions of all the prototypes for the Apply for legal aid team
      </p>

    </div>
  </div>

<div class="govuk-!-padding-bottom-6"></div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Passported benefit</h2>
        <ul class="govuk-list govuk-list--bullet">
        	<li><a href="/start_page">Version 1</a> - Substantive - Proceedings at the start of flow, capital questions, first attempt at simple merits</li>
          <li><a href="/passported_v2/start_page">Version 2</a> - Substantive or delegated (Non-mole order)- Client details at the start of flow, proccedings, capital questions, expanded proceeding relevant merits</li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Not passported</h2>
        <ul class="govuk-list govuk-list--bullet">
        	<li><a href="/non_passported_v1/start_page">Version 1</a> - Substantive or delegated (Non-mole order)</li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Playground</h2>
        <ul class="govuk-list govuk-list--bullet">
        	<li><a href="/merits_flow/legal_help">Merits flow - Non-mole order</a> - Merits flow only</li>
          <li><a href="/footer/feedback">Footer - Feedback page</a></li>
          <li><a href="/footer/contact">Footer - Contact page</a></li>
        </ul>
      </div>
    </div>


{% endblock %}
